### Added by KD # -*- mode: ini -*-
[print:*fast*]
external_perimeter_speed = 80
first_layer_speed = 30
gap_fill_speed = 40
infill_speed = 250
max_print_speed = 400
perimeter_speed = 200
small_perimeter_speed = 80
solid_infill_speed = 250
top_solid_infill_speed = 80

[printer:Voron_v2_300_afterburner 0.4 volcano]
inherits = *Voron_v2_300_afterburner*; *0.4nozzle*; *volcano_afterburner*
printer_variant = volcano 0.4
printer_notes = VOLCANO
default_filament_profile = Basic PET VOLCANO @VORON

[print:Voron Structural V0]
inherits = 0.2mm 0.4nozzle V0
perimeters = 4
fill_density = 40%
compatible_printers_condition = printer_model=~/.*Voron_v0.*/ and nozzle_diameter[0]==0.4
brim_width = 3

[print:Voron Structural V0 (with ironing)]
inherits = Voron Structural V0
ironing = 1


{{ range $nozzle := (coll.Slice 0.4 0.6 0.8) -}}
{{ range $layer :=  (coll.Slice 0.2 0.3 0.4) -}}
{{ if gt $layer (mul $nozzle 0.8 ) }}{{continue}}{{end -}}
[print:Voron Structural {{$layer}}mm {{ $nozzle }}nozzle V2]
inherits = {{$layer}}mm {{ $nozzle }}nozzle V2
perimeters = {{ math.Ceil (div 4 (div $nozzle 0.4 )) }}
fill_density = 40%
compatible_printers_condition = printer_model=~/.*Voron_v2.*/ and nozzle_diameter[0]=={{ $nozzle }}
brim_width = 3

[print:Voron Structural {{$layer}}mm {{ $nozzle }}nozzle V2 (with ironing)]
inherits = Voron Structural {{$layer}}mm {{ $nozzle }}nozzle V2
ironing = 1

[print:Voron Structural {{$layer}}mm {{ $nozzle }}nozzle V2 (fast)]
inherits = Voron Structural {{$layer}}mm {{ $nozzle }}nozzle V2; *fast*

{{ end -}}
{{ end -}}

##############################
{{ range (coll.Slice "0.2mm" "0.3mm" "0.4mm") }}
[print:{{ . }} 0.6nozzle V2 (fast)]
inherits = {{ . }} 0.6nozzle V2; *fast*
compatible_printers_condition = printer_model=~/.*Voron_v2.*/ and nozzle_diameter[0]==0.6
{{ end}}
